<section id="credibility">
    <div class="container">
        <div class="credibility-item">
            <div class="credibility-number">40+</div>
            <div class="credibility-label">5-star Google Reviews</div>
        </div>
        <div class="credibility-item">
            <div class="credibility-number">10+ Years</div>
            <div class="credibility-label">Tutoring Experience</div>
        </div>
        <div class="credibility-item">
            <div class="credibility-number">4,000+</div>
            <div class="credibility-label">YouTube Subscribers</div>
        </div>
        <div class="credibility-item">
            <div class="credibility-number">200+</div>
            <div class="credibility-label">Students Helped</div>
        </div>
    </div>
</section>